<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script async src="/js/loadheaders.js"></script>
</head>
<body>
    <div id="website-header"></div>

    <div class="content-div">
        <div class="content-left content-highlight" style="margin-top: 50px; margin-bottom: 50px;">
            <p style="font-weight: bold; font-size: 64px; margin-bottom: 0;">Welcome!</p>
            <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa optio itaque voluptas! Sequi maiores velit, laborum eius distinctio blanditiis, ullam aut, obcaecati explicabo ut dolores at. Eveniet, perferendis cumque.</p>
        </div>

        <div class="content-right">
            <p>right</p>
        </div>
    </div>

    <div class="content-div">
        <div class="content-left">
            <p style="font-weight: bold; font-size: 32px; margin-bottom: 0;">My projects and other works!</p>
        </div>
        <div class="content-right">
            <p style="font-weight: bold; font-size: 32px; margin-bottom: 0;">My blog!</p>
        </div>
    </div>
</body>
</html>