@font-face { font-family: Poppins; src: url("/font/Poppins-Regular.ttf"); } 

body {
    background: rgb(218,182,255);
    background: linear-gradient(0deg, rgba(218,182,255,1) 0%, rgba(155,180,255,1) 49%, rgba(126,146,255,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
}

.infoHeader {
    padding: 20px 15px;
    overflow: hidden;

    margin-top: 0px;

    .logo {
        position: absolute;
        margin: 0;
        font-size:45px;
        font-family: 'Arial Narrow Bold', sans-serif;
        transition: font-size 0.1s;

        text-decoration: none;
        color: black;
    }
    .logo:hover {
        font-size: 47px;
    }

    .headerRight {
        float: right;
        margin: 0;

        a {
            margin-left: 15px;

            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            text-decoration: none;
            font-weight: bold;

            border-radius: 4px;
            padding: 6px;
            line-height: 50px;

            transition: background-color 0.05s;
        }
        a:hover {
            background-color: #B188EF;
        }
    }

    @media screen and (max-width: 500px) {
        .headerRight a {
          float: none;
          display: block;
          text-align: left;
        }
        .headerRight {
          float: none;
        }
        .logo {
            position: relative;
        }
      }
}

.content-div {
    display: flexbox;
    padding: 20px 15px;
    flex-wrap: wrap;

    background-color: #98acff5d;

    margin-top: 5%;
    
    height: 50%;

    display: flex;
    align-content: center;
    justify-content: center;

    border: 2px solid rgba(0, 0, 0, 0.644);
    border-left: 0;
    border-right: 0;

    p {
        font-family: Poppins, Arial;
        text-align: center;
    }

    .content-left {
        float: left;
        margin-right: 15%;
        width: 25%;
    }
    .content-right {
        float: right;
        margin-left: 15%;
        width: 25%;

    }

    .content-highlight {
        background-color: #b188ef00;
        padding: 10px 10px;
        border-radius: 5px;
        

        transition: background-color 0.1s;
    }
    .content-highlight:hover {
        background-color: #b188ef36;
    }

    .content-right-gif {
        width: 512px;
        height: 512px;
        margin-top: 35px;
    }

    @media screen and (max-width: 500px) {
        .content-left {
            float: none;
        }
        .content-left-expand-on-mobile {
            width: 100%;
            margin-top: 10%;
        }
        .content-hide-on-mobile {
            display: none;
        }
        .content-right {
            float: none;
        }
        p {
            font-size: 12px;
        }
    }
}


.works-container {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    .work-tile {
        background-color: hsla(243, 43%, 83%, 0.418);
        height: 150px;
        margin-bottom: 3%;
        padding: 10px 15px;

        border: 2px solid black;
        border-radius: 5px;

        p {
            margin-bottom: 0;
            font-family: Poppins;
            font-weight: 600;
        }
    }
}

.filter-container {
    display: flex;

    flex-direction: column;
    align-items: center;

    margin-bottom: 5%;

    .trivia {
        font-size: 100%;
        width: 45%;
        font-family: Poppins, Arial;
    }

    @media screen and (max-width: 500px) {
        .trivia {
            font-size: 12px;
        }
    }
}

.post-content {
    font-family: Poppins, Arial;

    .title {
        text-align: center;
        font-size: 64px;
        font-weight: bold;
        margin: 0;

        color: white;
        -webkit-text-stroke: 0.5px black;
    }
    .desc {
        text-align: center;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .date {
        text-align: center;
        margin-top: 0;
        font-style: italic;
    }
    .post-image {
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}