@font-face { font-family: Poppins; src: url("/font/Poppins-Regular.ttf"); } 

body {
    background-color: #878c9e;
    margin: 0;
}

.infoHeader {
    padding: 20px 15px;
    overflow: hidden;

    margin-top: 0px;

    .logo {
        position: absolute;
        margin: 0;
        font-size:45px;
        font-family: 'Arial Narrow Bold', sans-serif;
        transition: font-size 0.1s;

        text-decoration: none;
        color: black;
    }
    .logo:hover {
        font-size: 47px;
    }

    .headerRight {
        float: right;
        margin: 0;

        a {
            margin-left: 15px;

            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            text-decoration: none;
            font-weight: bold;

            border-radius: 4px;
            padding: 6px;
            line-height: 50px;

            transition: background-color 0.05s;
        }
        a:hover {
            background-color: #B188EF;
        }
    }

    @media screen and (max-width: 500px) {
        .headerRight a {
          float: none;
          display: block;
          text-align: left;
        }
        .headerRight {
          float: none;
        }
        .logo {
            position: relative;
        }
      }
}

.content-div {
    padding: 20px 15px;
    overflow: hidden;

    background-color: #98acff5d;

    margin-top: 35px;

    height: 700px;

    display: flex;
    align-content: center;
    justify-content: center;


    p {
        font-family: Poppins, Arial;
        text-align: center;
    }

    .content-left {
        float: left;
        margin-right: 15%;
        width: 25%;
    }
    .content-right {
        float: right;
        margin-left: 15%;
        width: 25%;

    }

    .content-highlight {
        background-color: #b188ef00;
        padding: 10px 10px;
        border-radius: 5px;
        

        transition: background-color 0.1s;
    }
    .content-highlight:hover {
        background-color: #b188ef36;
    }

    .content-right-gif {
        left: 10%;
    }
}


.works-container {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    .work-tile {
        background-color: #dbdbdb;
        height: 150px;
        margin-bottom: 3%;
        padding: 10px 15px;
        border: 4px solid black;

        p {
            margin-bottom: 0;
            font-family: Poppins;
            font-weight: 600;
        }
    }
}

.filter-container {
    display: flex;

    flex-direction: column;
    align-items: center;

    margin-bottom: 5%;

    .trivia {
        font-size: 100%;
        width: 45%;
        font-family: Poppins, Arial;
    }
}